@import 'foliolum';

:root,
body {
  height: 100%;
}

header {
  padding: var(--spacing);
  text-align: center;
}

main {
  display: grid;
  place-items: center;
  padding-bottom: calc(var(--spacing) * 2);
}

.components-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
  width: clamp(320px, 80%, 85ch);
}

.component {
  border: var(--border);
  padding: var(--spacing);
  border-radius: var(--radius);
}

.buttons {
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;
}

.text-fields,
.selects {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}