@import 'foliole';

:root {
  scroll-padding-block-start: 10rem;
}

:root,
body {
  height: 100%;
}

header {
  background-color: var(--fo-primary-clr);
  padding: var(--fo-spacing);
  color: var(--fo-light-text-clr);
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: var(--fo-box-shadow);
  min-height: 4rem;
  display: flex;
  align-items: center;
  gap: calc(var(--fo-spacing) / 2);
}

header h1 {
  margin: 0;
  line-height: 1;
}

header .brand {
  width: 2rem;
  height: 2rem;
}

.page-container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 5fr;
  margin-inline: auto;
  max-width: 90rem;
}

.side-nav {
  position: sticky;
  top: 6rem;
  align-self: start;
  gap: var(--fo-spacing);
}

.side-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-nav-list li {
  display: block;
  margin: 0;
  padding: 0;
}

.side-nav-list li a {
  color: var(--fo-dark-clr);
  text-decoration: none;
}

main {
  padding-block: calc(var(--fo-spacing) * 2);
}

.components-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fo-spacing) * 3);
  width: clamp(320px, 80%, 95ch);
}

.components {
  display: flex;
  gap: var(--fo-spacing);
  flex-wrap: wrap;
}

.text-fields,
.selects {
  display: flex;
  flex-direction: column;
  gap: var(--fo-spacing);
}
