@import 'foliole';

:root {
  --max-page-width: 82rem;
  padding-inline: var(--fo-spacing);
}

body {
  min-height: 100dvh;
  overflow-y: scroll;
}

:where(h1, h2, h3, h4, h5, h6):focus {
  outline: none;
}

.page-wrapper {
  display: grid;
  gap: var(--fo-spacing);
  grid-template-columns: minmax(150px, 1fr) 6fr;
  margin-inline: auto;
  min-height: 100dvh;
  max-inline-size: var(--max-page-width);
}

.content-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

main {
  padding-block: calc(var(--fo-spacing) * 2);
}

.components {
  display: flex;
  gap: var(--fo-spacing);
  flex-wrap: wrap;
}

.text-fields,
.selects {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fo-spacing) * 2);
}

code {
  border-radius: var(--fo-card-radius);
}
