.fo-navigation.navigation {
  position: sticky;
  top: 0;
  padding-block-start: calc(var(--fo-spacing) * 2);
  transition: transform 0.2s ease-out;

  img {
    display: block;
    width: 100%;
    max-width: 4rem;
    margin: 0 auto;
  }

  .menu-button {
    position: absolute;
    top: 0;
    right: var(--fo-spacing);
  }
}

@media only screen and (max-width: 767px) {
  .fo-navigation.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--fo-bg-clr);
    box-shadow: var(--fo-box-shadow);
    z-index: 1;
    padding-inline: var(--fo-spacing);
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }
  }
}
