<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="../_app/immutable/assets/0.54e232f3.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SubpageContainer.c47a857b.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SubpageContainer.01efa8eb.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.dec2effe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.3cadb944.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/singletons.3b64db9d.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.67ca980f.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.409b88f1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/foliole.0c0d5be8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/stores.5ef3a5dd.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/11.d923ee98.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/SubpageContainer.ca5160db.js"><!-- HEAD_svelte-1ef7rnv_START --><!-- HTML_TAG_START --><style>pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#2f3337;background:#f6f6f6}.hljs-subst{color:#2f3337}.hljs-comment{color:#656e77}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#015692}.hljs-attribute{color:#803378}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#b75501}.hljs-selector-class{color:#015692}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#54790d}.hljs-meta,.hljs-selector-pseudo{color:#015692}.hljs-built_in,.hljs-literal,.hljs-title{color:#b75501}.hljs-bullet,.hljs-code{color:#535a60}.hljs-meta .hljs-string{color:#54790d}.hljs-deletion{color:#c02d2e}.hljs-addition{color:#2f6f44}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}</style><!-- HTML_TAG_END --><!-- HEAD_svelte-1ef7rnv_END --><!-- HEAD_svelte-1ef7rnv_START --><!-- HTML_TAG_START --><style>pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#2f3337;background:#f6f6f6}.hljs-subst{color:#2f3337}.hljs-comment{color:#656e77}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#015692}.hljs-attribute{color:#803378}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#b75501}.hljs-selector-class{color:#015692}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#54790d}.hljs-meta,.hljs-selector-pseudo{color:#015692}.hljs-built_in,.hljs-literal,.hljs-title{color:#b75501}.hljs-bullet,.hljs-code{color:#535a60}.hljs-meta .hljs-string{color:#54790d}.hljs-deletion{color:#c02d2e}.hljs-addition{color:#2f6f44}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}</style><!-- HTML_TAG_END --><!-- HEAD_svelte-1ef7rnv_END -->
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">


<div class="page-wrapper"><nav class="fo-navigation svelte-i0ds2h"><img src="/foliole/_app/immutable/assets/foliole.09dac69d.svg" alt="Foliole brand icon" class="fo-p-inline-start-1 fo-p-block-end-1">
  <ul class="fo-navigation-list"><li><a href="/foliole/" class="fo-button fo-button-flat fo-text-bold">Home</a></li>

    <li><a href="/foliole/components" class="fo-button fo-button-flat fo-text-bold">Components</a></li>
    <ul class="fo-navigation-list"><li><a href="/foliole/components/badges" class="fo-button fo-button-flat">Badges</a></li>
      <li><a href="/foliole/components/buttons" class="fo-button fo-button-flat">Buttons</a></li>
      <li><a href="/foliole/components/cards" class="fo-button fo-button-flat">Cards</a></li>
      <li><a href="/foliole/components/checkboxes" class="fo-button fo-button-flat">Checkboxes</a></li>
      <li><a href="/foliole/components/links" class="fo-button fo-button-flat">Links</a></li>
      <li><a href="/foliole/components/navigation" class="fo-button fo-button-flat">Navigation</a></li>
      <li><a href="/foliole/components/radio-buttons" class="fo-button fo-button-flat">Radio buttons</a></li>
      <li><a href="/foliole/components/select" class="fo-button fo-button-flat active">Select</a></li>
      <li><a href="/foliole/components/text-fields" class="fo-button fo-button-flat">Text fields</a></li></ul>

    <li><a href="/foliole/utilities" class="fo-button fo-button-flat fo-text-bold">Utilities</a></li>
    <ul class="fo-navigation-list"><li><a href="/foliole/utilities/classes" class="fo-button fo-button-flat">Classes</a></li>
      <li><a href="/foliole/utilities/properties" class="fo-button fo-button-flat">Properties</a></li></ul></ul>
</nav>
  <div class="content-wrapper"><main><section class="fo-card svelte-nbl7xl"><h1 class="fo-display-text-md">Select</h1>
  <div class="selects"><div><label class="fo-form-label" for="video_games_select">Select</label>
      <select id="video_games_select" name="video_games_select" class="fo-form-select"><option value="Age of Empires">Age of Empires</option><option value="Super Mario">Super Mario</option><option value="Tetris" disabled>Tetris</option><option value="World of Warcraft">World of Warcraft</option></select>
      

<div class="fo-card fo-card-outlined fo-p-0 fo-m-block-start-1 svelte-yvmrw9"><img src="/foliole/_app/immutable/assets/code.f9cafe02.svg" alt="Code icon" class="svelte-yvmrw9">
  
  <pre data-language="vbscript-html" class=" svelte-11sh29b"><code class="hljs"><!-- HTML_TAG_START -->&lt;label class=&quot;fo-form-label&quot; for=&quot;video_games_select&quot;&gt;
    Select
&lt;/label&gt;
&lt;select
  id=&quot;video_games_select&quot;
  name=&quot;video_games_select&quot;
  class=&quot;fo-form-select&quot;
&gt;
  &lt;option value=&quot;Age of Empires&quot;&gt;Age of Empires&lt;/option&gt;
  &lt;option value=&quot;Super Mario&quot;&gt;Super Mario&lt;/option&gt;
  &lt;option value=&quot;Tetris&quot; disabled&gt;Tetris&lt;/option&gt;
  &lt;option value=&quot;World of Warcraft&quot;&gt;World of Warcraft&lt;/option&gt;
&lt;/select&gt;<!-- HTML_TAG_END --></code></pre>

</div></div>

    <div><label class="fo-form-label" for="video_games_disabled_select">Disabled select</label>
      <select id="video_games_disabled_select" name="video_games_disabled_select" class="fo-form-select" disabled><option value="Age of Empires">Age of Empires</option><option value="Super Mario">Super Mario</option><option value="Tetris" selected>Tetris</option><option value="World of Warcraft">World of Warcraft</option></select>
      

<div class="fo-card fo-card-outlined fo-p-0 fo-m-block-start-1 svelte-yvmrw9"><img src="/foliole/_app/immutable/assets/code.f9cafe02.svg" alt="Code icon" class="svelte-yvmrw9">
  
  <pre data-language="vbscript-html" class=" svelte-11sh29b"><code class="hljs"><!-- HTML_TAG_START -->&lt;label class=&quot;fo-form-label&quot; for=&quot;video_games_disabled_select&quot;&gt;
    Disabled select
&lt;/label&gt;
&lt;select
  id=&quot;video_games_disabled_select&quot;
  name=&quot;video_games_disabled_select&quot;
  class=&quot;fo-form-select&quot;
  disabled
&gt;
  &lt;option value=&quot;Age of Empires&quot;&gt;Age of Empires&lt;/option&gt;
  &lt;option value=&quot;Super Mario&quot;&gt;Super Mario&lt;/option&gt;
  &lt;option value=&quot;Tetris&quot; selected&gt;Tetris&lt;/option&gt;
  &lt;option value=&quot;World of Warcraft&quot;&gt;World of Warcraft&lt;/option&gt;
&lt;/select&gt;<!-- HTML_TAG_END --></code></pre>

</div></div></div>
</section></main>
    <footer class="svelte-1kruojt"><p>Made by Karl Queckfeldt using SvelteKit.</p></footer></div>
</div>


			
			<script>
				{
					__sveltekit_xqllzy = {
						assets: "/foliole",
						base: new URL("..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("../_app/immutable/entry/start.dec2effe.js"),
						import("../_app/immutable/entry/app.67ca980f.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 11],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
