<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="../_app/immutable/assets/0.707963bb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SubpageContainer.c47a857b.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SubpageContainer.01efa8eb.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.c461602a.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.a164cd80.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/singletons.81b0f890.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.64dc6f09.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.fcba8601.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/foliole.0c0d5be8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/stores.ef8b4ffd.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/12.e6e50d47.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/SubpageContainer.9f47183a.js"><title>Foliole</title><!-- HEAD_svelte-hbm4jb_START --><meta name="description" content="Foliole component library"><!-- HEAD_svelte-hbm4jb_END --><!-- HEAD_svelte-1ef7rnv_START --><!-- HTML_TAG_START --><style>pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#2f3337;background:#f6f6f6}.hljs-subst{color:#2f3337}.hljs-comment{color:#656e77}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#015692}.hljs-attribute{color:#803378}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#b75501}.hljs-selector-class{color:#015692}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#54790d}.hljs-meta,.hljs-selector-pseudo{color:#015692}.hljs-built_in,.hljs-literal,.hljs-title{color:#b75501}.hljs-bullet,.hljs-code{color:#535a60}.hljs-meta .hljs-string{color:#54790d}.hljs-deletion{color:#c02d2e}.hljs-addition{color:#2f6f44}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}</style><!-- HTML_TAG_END --><!-- HEAD_svelte-1ef7rnv_END --><!-- HEAD_svelte-1ef7rnv_START --><!-- HTML_TAG_START --><style>pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#2f3337;background:#f6f6f6}.hljs-subst{color:#2f3337}.hljs-comment{color:#656e77}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#015692}.hljs-attribute{color:#803378}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#b75501}.hljs-selector-class{color:#015692}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#54790d}.hljs-meta,.hljs-selector-pseudo{color:#015692}.hljs-built_in,.hljs-literal,.hljs-title{color:#b75501}.hljs-bullet,.hljs-code{color:#535a60}.hljs-meta .hljs-string{color:#54790d}.hljs-deletion{color:#c02d2e}.hljs-addition{color:#2f6f44}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}</style><!-- HTML_TAG_END --><!-- HEAD_svelte-1ef7rnv_END -->
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">




<div class="page-wrapper"><nav class="fo-navigation svelte-i0ds2h"><img src="/foliole/_app/immutable/assets/foliole.09dac69d.svg" alt="Foliole brand icon" class="fo-p-inline-start-1 fo-p-block-end-1">
  <ul class="fo-navigation-list"><li><a href="/foliole" class="fo-button fo-button-flat fo-text-bold">Home</a></li>

    <li><a href="/foliole/components" class="fo-button fo-button-flat fo-text-bold">Components</a></li>
    <ul class="fo-navigation-list"><li><a href="/foliole/components/badges" class="fo-button fo-button-flat">Badges</a></li>
      <li><a href="/foliole/components/buttons" class="fo-button fo-button-flat">Buttons</a></li>
      <li><a href="/foliole/components/cards" class="fo-button fo-button-flat">Cards</a></li>
      <li><a href="/foliole/components/checkboxes" class="fo-button fo-button-flat">Checkboxes</a></li>
      <li><a href="/foliole/components/links" class="fo-button fo-button-flat">Links</a></li>
      <li><a href="/foliole/components/navigation" class="fo-button fo-button-flat">Navigation</a></li>
      <li><a href="/foliole/components/radio-buttons" class="fo-button fo-button-flat">Radio buttons</a></li>
      <li><a href="/foliole/components/select" class="fo-button fo-button-flat">Select</a></li>
      <li><a href="/foliole/components/text-fields" class="fo-button fo-button-flat active">Text fields</a></li></ul>

    <li><a href="/foliole/utilities" class="fo-button fo-button-flat fo-text-bold">Utilities</a></li>
    <ul class="fo-navigation-list"><li><a href="/foliole/utilities/classes" class="fo-button fo-button-flat">Classes</a></li>
      <li><a href="/foliole/utilities/properties" class="fo-button fo-button-flat">Properties</a></li></ul></ul>
</nav>
  <div class="content-wrapper"><main><section class="fo-card svelte-nbl7xl"><h1 class="fo-display-text-md">Text fields</h1>
  <div class="text-fields"><div><label class="fo-form-label" for="text_input">Text field</label>
      <input id="text_input" name="text_input" type="text" class="fo-form-field">
      

<div class="fo-card fo-card-outlined fo-p-0 fo-m-block-start-1 svelte-yvmrw9"><img src="/foliole/_app/immutable/assets/code.f9cafe02.svg" alt="Code icon" class="svelte-yvmrw9">
  
  <pre data-language="vbscript-html" class=" svelte-11sh29b"><code class="hljs"><!-- HTML_TAG_START -->&lt;label class=&quot;fo-form-label&quot; for=&quot;text_input&quot;&gt;Text field&lt;/label&gt;
&lt;input
  id=&quot;text_input&quot;
  name=&quot;text_input&quot;
  type=&quot;text&quot;
  class=&quot;fo-form-field&quot;
/&gt;<!-- HTML_TAG_END --></code></pre>

</div></div>

    <div><label class="fo-form-label" for="disabled_text_input">Disabled text field</label>
      <input id="disabled_text_input" name="disabled_text_input" type="text" class="fo-form-field" disabled>
      

<div class="fo-card fo-card-outlined fo-p-0 fo-m-block-start-1 svelte-yvmrw9"><img src="/foliole/_app/immutable/assets/code.f9cafe02.svg" alt="Code icon" class="svelte-yvmrw9">
  
  <pre data-language="vbscript-html" class=" svelte-11sh29b"><code class="hljs"><!-- HTML_TAG_START -->&lt;label class=&quot;fo-form-label&quot; for=&quot;disabled_text_input&quot;
  &gt;Disabled text field&lt;/label
&gt;
&lt;input
  id=&quot;disabled_text_input&quot;
  name=&quot;disabled_text_input&quot;
  type=&quot;text&quot;
  class=&quot;fo-form-field&quot;
  disabled
/&gt;<!-- HTML_TAG_END --></code></pre>

</div></div></div>
</section></main>
    <footer class="svelte-1kruojt"><p>Made by Karl Queckfeldt using SvelteKit. <a href="https://github.com/karlqueckfeldt/foliole" target="_blank" rel="noopener noreferrer">GitHub repository</a>.
        <a href="https://www.npmjs.com/package/foliole" target="_blank" rel="noopener noreferrer">NPM page</a>.
      </p></footer></div>
</div>


			
			<script>
				{
					__sveltekit_126dcu5 = {
						assets: "/foliole",
						base: new URL("..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("../_app/immutable/entry/start.c461602a.js"),
						import("../_app/immutable/entry/app.64dc6f09.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 12],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
