@import url('properties.css');

.fo-badge {
  font-size: var(--fo-text-sm-size);
  display: inline-block;
  padding: calc(var(--fo-spacing) / 2) calc(var(--fo-spacing) / 2);
  background-color: var(--fo-bg-color);
  border-radius: 999999px;
  box-shadow: var(--fo-box-shadow);
  block-size: fit-content;
  inline-size: fit-content;
  line-height: 0.5;
  align-self: start;
}

.fo-badge-primary {
  background-color: var(--fo-primary-color);
  color: var(--fo-secondary-text-color);
}

.fo-badge-secondary {
  background-color: var(--fo-secondary-color);
}

.fo-badge-outlined {
  border: var(--fo-border);
  box-shadow: none;
  color: var(--fo-primary-text-color);
}
