@import url('properties.css');

button:focus-visible {
  outline-offset: 1px;
}

.fo-button {
  display: inline-block;
  padding: calc(var(--fo-spacing) / 2) var(--fo-spacing);
  background-color: var(--fo-bg-color);
  border: none;
  border-radius: var(--fo-button-radius);
  box-shadow: var(--fo-box-shadow);
  line-height: 1.5;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
}

a.fo-button {
  text-decoration: none;
}

.fo-button:disabled,
.fo-button[aria-disabled='true'] {
  pointer-events: none;
  box-shadow: none;
}

.fo-button-outlined:hover,
.fo-button-flat:hover,
.fo-button:hover {
  background-color: var(--fo-secondary-color);
}

.fo-button-primary {
  background-color: var(--fo-primary-color);
  color: var(--fo-secondary-text-color);
}

.fo-button-primary:hover {
  background-color: var(--fo-primary-light-color);
}

.fo-button-secondary,
a.fo-button[aria-current='page'],
a.fo-button.fo-link-active {
  background-color: var(--fo-secondary-color);
  border-color: var(--secondary-border-color);
}

.fo-button-secondary:hover {
  background-color: var(--fo-secondary-light-color);
}

.fo-button-outlined {
  border: var(--fo-border);
  box-shadow: none;
}

.fo-button-warning {
  background-color: var(--fo-warning-color);
  border-color: var(--warning-border-color);
  color: var(--fo-secondary-text-color);
}

.fo-button-warning:hover {
  background-color: var(--fo-warning-light-color);
}

.fo-button-flat {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.fo-button-lg {
  font-size: var(--fo-text-lg-size);
}

.fo-button-sm {
  font-size: var(--fo-text-sm-size);
}

.fo-button:disabled,
.fo-button[aria-disabled='true'] {
  opacity: 0.7;
}
