@import url('variables.css');

.fo-button {
  display: inline-block;
  padding: calc(var(--fo-spacing) / 2) var(--fo-spacing);
  background-color: var(--fo-bg-clr);
  border: none;
  border-radius: var(--fo-button-radius);
  box-shadow: var(--fo-box-shadow);
  transition: box-shadow 0.1s ease-in-out;
  line-height: 1.5;
  font-weight: 500;
}

a.fo-button {
  text-decoration: none;
  color: inherit;
}

.fo-button:active {
  box-shadow: none;
}

.fo-button-outlined:hover,
.fo-button-flat:hover,
.fo-button:hover {
  background-color: var(--fo-secondary-clr);
}

.fo-button-primary {
  background-color: var(--fo-primary-clr);
  border-color: var(--primary-border-clr);
  color: var(--fo-secondary-text-clr);
}

.fo-button-primary:hover {
  background-color: var(--fo-primary-light-clr);
}

.fo-button-secondary,
a.fo-button[aria-current='page'],
a.fo-button.fo-link-active {
  background-color: var(--fo-secondary-clr);
  border-color: var(--secondary-border-clr);
}

.fo-button-secondary:hover {
  background-color: var(--fo-secondary-light-clr);
}

.fo-button-outlined {
  border: var(--fo-border);
  box-shadow: none;
}

.fo-button-warning {
  background-color: var(--fo-warning-clr);
  border-color: var(--warning-border-clr);
  color: var(--fo-secondary-text-clr);
}

.fo-button-warning:hover {
  background-color: var(--fo-warning-light-clr);
}

.fo-button-flat {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.fo-button-lg {
  font-size: var(--fo-text-lg-size);
}

.fo-button-sm {
  font-size: var(--fo-text-sm-size);
}
