@import url('variables.css');

.fo-card {
  padding: calc(var(--fo-spacing) * 2);
  border-radius: var(--fo-card-radius);
  box-shadow: var(--fo-box-shadow);
}

.fo-card-primary {
  background-color: var(--fo-primary-clr);
  color: var(--fo-light-text-clr);
}

.fo-card-bordered {
  border: var(--fo-border);
  box-shadow: none;
}

.fo-card > :last-child {
  margin-block-end: 0;
  padding-block-end: 0;
}
