@import url('properties.css');

.fo-card {
  padding: calc(var(--fo-spacing) * 2);
  border-radius: var(--fo-card-radius);
  box-shadow: var(--fo-box-shadow);
  background-color: var(--fo-bg-clr);
}

.fo-card-primary {
  background-color: var(--fo-primary-clr);
  color: var(--fo-secondary-text-clr);
}

.fo-card-secondary {
  background-color: var(--fo-secondary-clr);
}

.fo-card-outlined {
  border: var(--fo-border);
  box-shadow: none;
}

.fo-card > :last-child {
  margin-block-end: 0;
}
