@import url('variables.css');

.fo-form-field,
.fo-form-select {
  border: var(--fo-border);
  border-radius: var(--fo-input-radius);
  padding: calc(var(--fo-spacing) / 2);
  display: block;
  background-color: var(--fo-light-clr);
}

.fo-form-field:disabled,
.fo-form-select:disabled {
  background-color: var(--fo-disabled-clr);
  border-color: var(--fo-disabled-clr);
  cursor: default;
  box-shadow: none;
}

.fo-form-radio,
.fo-form-check {
  display: flex;
  align-items: center;
  margin-block-end: var(--fo-spacing);
}

.fo-form-radio-input,
.fo-form-check-input {
  margin: 0;
  margin-inline-end: calc(var(--fo-spacing) / 2);
}

.fo-form-radio-input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 9999999px;
  inline-size: 1.37em;
  block-size: 1.37em;
  transition: background-color 0.1s ease-in-out;
  font: inherit;
  color: currentColor;
  border: var(--fo-radio-border);
  display: grid;
  place-content: center;
}

.fo-form-radio-input::before {
  content: '';
  inline-size: 0.88em;
  block-size: 0.88em;
  border-radius: 9999999px;
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  background-color: var(--fo-primary-clr);
}

.fo-form-radio-input:checked::before {
  transform: scale(1);
}

.fo-form-radio-input:disabled {
  border-color: var(--fo-disabled-clr);
}

.fo-form-radio-input:disabled + label {
  color: var(--fo-disabled-clr);
}

.fo-form-radio-input:disabled:checked::before {
  background-color: var(--fo-disabled-clr);
}

.fo-form-check-input {
  appearance: none;
  block-size: 1.2em;
  inline-size: 1.2em;
  border-radius: var(--fo-input-radius);
  background-color: var(--fo-bg-clr);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--fo-radio-border);
  transition: background-color 0.1s ease-in-out;
}

.fo-form-check-input::after {
  -webkit-mask: url(../assets/check.svg) no-repeat 50% 50%;
  mask: url(../assets/check.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  content: '';
  display: block;
  block-size: 100%;
  background-color: var(--fo-light-clr);
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

.fo-form-check-input:checked {
  background-color: var(--fo-radio-clr);
}

.fo-form-check-input:checked::after {
  transform: scale(1);
}

.fo-form-check-input:disabled {
  border-color: var(--fo-disabled-clr);
}

.fo-form-check-input:disabled + label {
  color: var(--fo-disabled-clr);
}

.fo-form-check-input:disabled:checked {
  background-color: var(--fo-disabled-clr);
}

.fo-form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.fo-form-fieldset-legend,
.fo-form-label {
  padding: 0;
  display: block;
  inline-size: fit-content;
}

.fo-form-label {
  margin-block-end: calc(var(--fo-spacing) / 4);
}

.fo-form-fieldset-legend {
  margin-block-end: calc(var(--fo-spacing) / 2);
}
