@import url('properties.css');

body {
  margin: 0;
  background-color: var(--fo-bg-clr);
  color: var(--fo-primary-text-clr);
  font-family: var(--fo-font-family);
  font-size: 1rem;
  line-height: var(--fo-body-line-height);
}

::-moz-selection {
  background: var(--fo-primary-text-clr);
  color: var(--fo-secondary-text-clr);
}
::selection {
  background: var(--fo-primary-text-clr);
  color: var(--fo-secondary-text-clr);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: var(--fo-heading-line-height);
}

:where(h1, h2, h3, h4, h5, h6):first-child {
  margin-block-start: 0;
}

h1 {
  font-size: var(--fo-h1-size);
}
h2 {
  font-size: var(--fo-h2-size);
}
h3 {
  font-size: var(--fo-h3-size);
}
h4 {
  font-size: var(--fo-h4-size);
}
h5 {
  font-size: var(--fo-h5-size);
}
h6 {
  font-size: var(--fo-h6-size);
}

input:focus-visible,
button:focus-visible,
a:focus-visible,
select:focus-visible {
  outline: none;
}

input:not([aria-disabled='true']):focus-visible,
button:not([aria-disabled='true']):focus-visible,
a:not([aria-disabled='true']):focus-visible,
select:not([aria-disabled='true']):focus-visible {
  outline: var(--fo-outline);
}

input,
button,
select {
  font: inherit;
  color: inherit;
}

pre,
code {
  margin: 0;
  padding: 0;
}
