@import url('variables.css');

body {
  margin: 0;
  background-color: var(--fo-bg-clr);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--fo-primary-text-clr);
}

::-moz-selection {
  background: var(--fo-secondary-clr);
}

::selection {
  background: var(--fo-secondary-clr);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1;
}

input:focus-visible,
button:focus-visible,
a:focus-visible,
select:focus-visible {
  outline: var(--fo-outline);
}

input,
button,
select {
  font: inherit;
  color: inherit;
}
