@import url('properties.css');

/* ------------------------------------------------------------------- */
/* 🍃 MARGINS 🍃 */
/* ------------------------------------------------------------------- */

.fo-m-0 {
  margin: 0;
}

.fo-m-1 {
  margin: var(--fo-spacing);
}

.fo-m-inline-1 {
  margin: 0 var(--fo-spacing);
}

.fo-m-block-1 {
  margin: var(--fo-spacing) 0;
}

.fo-m-block-start-1 {
  margin-block-start: var(--fo-spacing);
}

.fo-m-block-end-1 {
  margin-block-end: var(--fo-spacing);
}

.fo-m-inline-end-1 {
  margin-inline-end: var(--fo-spacing);
}

.fo-m-inline-start-1 {
  margin-inline-start: var(--fo-spacing);
}

.fo-m-2 {
  margin: calc(var(--fo-spacing) * 2);
}

.fo-m-inline-2 {
  margin: 0 calc(var(--fo-spacing) * 2);
}

.fo-m-block-2 {
  margin: calc(var(--fo-spacing) * 2) 0;
}

.fo-m-block-start-2 {
  margin-block-start: calc(var(--fo-spacing) * 2);
}

.fo-m-block-end-2 {
  margin-block-end: calc(var(--fo-spacing) * 2);
}

.fo-m-inline-end-2 {
  margin-inline-end: calc(var(--fo-spacing) * 2);
}

.fo-m-inline-start-2 {
  margin-inline-start: calc(var(--fo-spacing) * 2);
}

.fo-m-3 {
  margin: calc(var(--fo-spacing) * 3);
}

.fo-m-inline-3 {
  margin: 0 calc(var(--fo-spacing) * 3);
}

.fo-m-block-3 {
  margin: calc(var(--fo-spacing) * 3) 0;
}

.fo-m-block-start-3 {
  margin-block-start: calc(var(--fo-spacing) * 3);
}

.fo-m-block-end-3 {
  margin-block-end: calc(var(--fo-spacing) * 3);
}

.fo-m-inline-end-3 {
  margin-inline-end: calc(var(--fo-spacing) * 3);
}

.fo-m-inline-start-3 {
  margin-inline-start: calc(var(--fo-spacing) * 3);
}

.fo-m-4 {
  margin: calc(var(--fo-spacing) * 4);
}

.fo-m-inline-4 {
  margin: 0 calc(var(--fo-spacing) * 4);
}

.fo-m-block-4 {
  margin: calc(var(--fo-spacing) * 4) 0;
}

.fo-m-block-start-4 {
  margin-block-start: calc(var(--fo-spacing) * 4);
}

.fo-m-block-end-4 {
  margin-block-end: calc(var(--fo-spacing) * 4);
}

.fo-m-inline-end-4 {
  margin-inline-end: calc(var(--fo-spacing) * 4);
}

.fo-m-inline-start-4 {
  margin-inline-start: calc(var(--fo-spacing) * 4);
}

.fo-m-5 {
  margin: calc(var(--fo-spacing) * 5);
}

.fo-m-inline-5 {
  margin: 0 calc(var(--fo-spacing) * 5);
}

.fo-m-block-5 {
  margin: calc(var(--fo-spacing) * 5) 0;
}

.fo-m-block-start-5 {
  margin-block-start: calc(var(--fo-spacing) * 5);
}

.fo-m-block-end-5 {
  margin-block-end: calc(var(--fo-spacing) * 5);
}

.fo-m-inline-end-5 {
  margin-inline-end: calc(var(--fo-spacing) * 5);
}

.fo-m-inline-start-5 {
  margin-inline-start: calc(var(--fo-spacing) * 5);
}

.fo-m-6 {
  margin: calc(var(--fo-spacing) * 6);
}

.fo-m-inline-6 {
  margin: 0 calc(var(--fo-spacing) * 6);
}

.fo-m-block-6 {
  margin: calc(var(--fo-spacing) * 6) 0;
}

.fo-m-block-start-6 {
  margin-block-start: calc(var(--fo-spacing) * 6);
}

.fo-m-block-end-6 {
  margin-block-end: calc(var(--fo-spacing) * 6);
}

.fo-m-inline-end-6 {
  margin-inline-end: calc(var(--fo-spacing) * 6);
}

.fo-m-inline-start-6 {
  margin-inline-start: calc(var(--fo-spacing) * 6);
}

.fo-m-7 {
  margin: calc(var(--fo-spacing) * 7);
}

.fo-m-inline-7 {
  margin: 0 calc(var(--fo-spacing) * 7);
}

.fo-m-block-7 {
  margin: calc(var(--fo-spacing) * 7) 0;
}

.fo-m-block-start-7 {
  margin-block-start: calc(var(--fo-spacing) * 7);
}

.fo-m-block-end-7 {
  margin-block-end: calc(var(--fo-spacing) * 7);
}

.fo-m-inline-end-7 {
  margin-inline-end: calc(var(--fo-spacing) * 7);
}

.fo-m-inline-start-7 {
  margin-inline-start: calc(var(--fo-spacing) * 7);
}

.fo-m-8 {
  margin: calc(var(--fo-spacing) * 8);
}

.fo-m-inline-8 {
  margin: 0 calc(var(--fo-spacing) * 8);
}

.fo-m-block-8 {
  margin: calc(var(--fo-spacing) * 8) 0;
}

.fo-m-block-start-8 {
  margin-block-start: calc(var(--fo-spacing) * 8);
}

.fo-m-block-end-8 {
  margin-block-end: calc(var(--fo-spacing) * 8);
}

.fo-m-inline-end-8 {
  margin-inline-end: calc(var(--fo-spacing) * 8);
}

.fo-m-inline-start-8 {
  margin-inline-start: calc(var(--fo-spacing) * 8);
}

/* ------------------------------------------------------------------- */
/* 🍃 PADDINGS 🍃 */
/* ------------------------------------------------------------------- */

.fo-p-0 {
  padding: 0;
}

.fo-p-1 {
  padding: var(--fo-spacing);
}

.fo-p-inline-1 {
  padding: 0 var(--fo-spacing);
}

.fo-p-block-1 {
  padding: var(--fo-spacing) 0;
}

.fo-p-block-start-1 {
  padding-block-start: var(--fo-spacing);
}

.fo-p-block-end-1 {
  padding-block-end: var(--fo-spacing);
}

.fo-p-inline-end-1 {
  padding-inline-end: var(--fo-spacing);
}

.fo-p-inline-start-1 {
  padding-inline-start: var(--fo-spacing);
}

.fo-p-2 {
  padding: calc(var(--fo-spacing) * 2);
}

.fo-p-inline-2 {
  padding: 0 calc(var(--fo-spacing) * 2);
}

.fo-p-block-2 {
  padding: calc(var(--fo-spacing) * 2) 0;
}

.fo-p-block-start-2 {
  padding-block-start: calc(var(--fo-spacing) * 2);
}

.fo-p-block-end-2 {
  padding-block-end: calc(var(--fo-spacing) * 2);
}

.fo-p-inline-end-2 {
  padding-inline-end: calc(var(--fo-spacing) * 2);
}

.fo-p-inline-start-2 {
  padding-inline-start: calc(var(--fo-spacing) * 2);
}

.fo-p-3 {
  padding: calc(var(--fo-spacing) * 3);
}

.fo-p-inline-3 {
  padding: 0 calc(var(--fo-spacing) * 3);
}

.fo-p-block-3 {
  padding: calc(var(--fo-spacing) * 3) 0;
}

.fo-p-block-start-3 {
  padding-block-start: calc(var(--fo-spacing) * 3);
}

.fo-p-block-end-3 {
  padding-block-end: calc(var(--fo-spacing) * 3);
}

.fo-p-inline-end-3 {
  padding-inline-end: calc(var(--fo-spacing) * 3);
}

.fo-p-inline-start-3 {
  padding-inline-start: calc(var(--fo-spacing) * 3);
}

.fo-p-4 {
  padding: calc(var(--fo-spacing) * 4);
}

.fo-p-inline-4 {
  padding: 0 calc(var(--fo-spacing) * 4);
}

.fo-p-block-4 {
  padding: calc(var(--fo-spacing) * 4) 0;
}

.fo-p-block-start-4 {
  padding-block-start: calc(var(--fo-spacing) * 4);
}

.fo-p-block-end-4 {
  padding-block-end: calc(var(--fo-spacing) * 4);
}

.fo-p-inline-end-4 {
  padding-inline-end: calc(var(--fo-spacing) * 4);
}

.fo-p-inline-start-4 {
  padding-inline-start: calc(var(--fo-spacing) * 4);
}

.fo-p-5 {
  padding: calc(var(--fo-spacing) * 5);
}

.fo-p-inline-5 {
  padding: 0 calc(var(--fo-spacing) * 5);
}

.fo-p-block-5 {
  padding: calc(var(--fo-spacing) * 5) 0;
}

.fo-p-block-start-5 {
  padding-block-start: calc(var(--fo-spacing) * 5);
}

.fo-p-block-end-5 {
  padding-block-end: calc(var(--fo-spacing) * 5);
}

.fo-p-inline-end-5 {
  padding-inline-end: calc(var(--fo-spacing) * 5);
}

.fo-p-inline-start-5 {
  padding-inline-start: calc(var(--fo-spacing) * 5);
}

.fo-p-6 {
  padding: calc(var(--fo-spacing) * 6);
}

.fo-p-inline-6 {
  padding: 0 calc(var(--fo-spacing) * 6);
}

.fo-p-block-6 {
  padding: calc(var(--fo-spacing) * 6) 0;
}

.fo-p-block-start-6 {
  padding-block-start: calc(var(--fo-spacing) * 6);
}

.fo-p-block-end-6 {
  padding-block-end: calc(var(--fo-spacing) * 6);
}

.fo-p-inline-end-6 {
  padding-inline-end: calc(var(--fo-spacing) * 6);
}

.fo-p-inline-start-6 {
  padding-inline-start: calc(var(--fo-spacing) * 6);
}

.fo-p-7 {
  padding: calc(var(--fo-spacing) * 7);
}

.fo-p-inline-7 {
  padding: 0 calc(var(--fo-spacing) * 7);
}

.fo-p-block-7 {
  padding: calc(var(--fo-spacing) * 7) 0;
}

.fo-p-block-start-7 {
  padding-block-start: calc(var(--fo-spacing) * 7);
}

.fo-p-block-end-7 {
  padding-block-end: calc(var(--fo-spacing) * 7);
}

.fo-p-inline-end-7 {
  padding-inline-end: calc(var(--fo-spacing) * 7);
}

.fo-p-inline-start-7 {
  padding-inline-start: calc(var(--fo-spacing) * 7);
}

.fo-p-8 {
  padding: calc(var(--fo-spacing) * 8);
}

.fo-p-inline-8 {
  padding: 0 calc(var(--fo-spacing) * 8);
}

.fo-p-block-8 {
  padding: calc(var(--fo-spacing) * 8) 0;
}

.fo-p-block-start-8 {
  padding-block-start: calc(var(--fo-spacing) * 8);
}

.fo-p-block-end-8 {
  padding-block-end: calc(var(--fo-spacing) * 8);
}

.fo-p-inline-end-8 {
  padding-inline-end: calc(var(--fo-spacing) * 8);
}

.fo-p-inline-start-8 {
  padding-inline-start: calc(var(--fo-spacing) * 8);
}
