:root {
  /* Base colors */
  --fo-primary-clr: rgb(17, 92, 34);
  --fo-secondary-clr: rgb(189, 118, 190);
  --fo-warning-clr: rgb(206, 28, 28);
  --fo-light-clr: rgb(250, 250, 250);
  --fo-dark-clr: rgb(32, 49, 41);

  /* Lighter base colors */
  --fo-primary-light-clr: rgb(28, 110, 35);
  --fo-secondary-light-clr: rgb(199, 134, 196);
  --fo-warning-light-clr: rgb(218, 70, 57);
  --fo-dark-light-clr: rgb(44, 63, 52);

  /* Darker base colors */
  --fo-light-dark-clr: rgb(235, 235, 235);

  /* Misc colors */
  --fo-disabled-clr: rgb(190, 190, 190);
  --fo-opaque-clr: rgba(70, 70, 70, 0.319);

  /* Color applications */
  --fo-text-clr: var(--fo-dark-clr);
  --fo-light-text-clr: var(--fo-light-clr);
  --fo-border-clr: var(--fo-primary-clr);
  --fo-link-clr: var(--fo-primary-clr);
  --fo-bg-clr: var(--fo-light-clr);
  --fo-radio-clr: var(--fo-primary-clr);
  --fo-box-shadow-clr: var(--fo-opaque-clr);
  --fo-outline-clr: var(--fo-secondary-clr);

  /* Properties */
  --fo-spacing: 1rem;
  --fo-border-width: 1px;
  --fo-border: var(--fo-border-width) solid var(--fo-border-clr);
  --fo-button-radius: 999999px;
  --fo-input-radius: 6px;
  --fo-checkbox-radiuss: 3px;
  --fo-card-radius: 18px;
  --fo-box-shadow: 0 2px 4px 0 var(--fo-box-shadow-clr);
  --fo-outline: 2px solid var(--fo-outline-clr);
}
