@import 'foliole';

:root {
  --max-page-width: 82rem;
  padding-inline: var(--fo-spacing);
}

:root,
body,
#app {
  block-size: 100%;
}

:where(h1, h2, h3, h4, h5, h6):focus {
  outline: none;
}

.page-container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 5fr;
  margin-inline: auto;
  max-inline-size: var(--max-page-width);
  min-block-size: 80%;
  gap: var(--fo-spacing);
}

main {
  padding-block: calc(var(--fo-spacing) * 2);
}

.components {
  display: flex;
  gap: var(--fo-spacing);
  flex-wrap: wrap;
}

.text-fields,
.selects {
  display: flex;
  flex-direction: column;
  gap: var(--fo-spacing);
}
