.app {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  min-height: 100dvh;
  max-inline-size: var(--max-page-width);

  .menu-button {
    display: none;
    background: none;
    padding: 0;
    border: none;
    margin-block-start: var(--fo-spacing);
    border-radius: var(--fo-button-radius);
  }

  .main-wrapper {
    display: grid;
    gap: var(--fo-spacing);
    grid-template-columns: minmax(160px, 1fr) 6fr;
    flex: 1;
  }

  .main {
    padding-block-start: calc(var(--fo-spacing) * 2);
  }

  .footer {
    text-align: center;
  }

  .components {
    display: flex;
    gap: var(--fo-spacing);
    flex-wrap: wrap;
  }

  .text-fields,
  .selects {
    display: flex;
    flex-direction: column;
    gap: calc(var(--fo-spacing) * 2);
  }
}

@media only screen and (max-width: 767px) {
  .app {
    .main-wrapper {
      display: block;
    }

    .menu-button {
      display: flex;
    }

    .main {
      padding-block-start: var(--fo-spacing);
    }
  }
}
